<!-- Modal -->
<div class="modal fade" id="fileSelectModal" tabindex="-1" role="dialog" aria-labelledby="fileSelectLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title w-100" id="fileSelectLabel"> Files </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="modal-body">
            <div class="card info-card">
              <!-- tabs starts here -->
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="victim-tab" data-toggle="tab" href="#victim" role="tab" aria-controls="victim" aria-selected="true"> Vulnerabilities </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="exploit-tab" data-toggle="tab" href="#exploit" role="tab" aria-controls="exploit" aria-selected="false"> Exploits </a>
                </li>
              </ul>
              <!-- end of tab names-->
              <div class="tab-content table-bordered" id="myTabContent">
                <div class="tab-pane fade show active" id="victim" role="tabpanel" aria-labelledby="victim-tab">
                  <!-- table for victim vm starts here -->
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Vulnerability</th>
                        <th scope="col">Description</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for v in vulns %}
                      {# TODO: add to onclick "window.location.href='{{ url_for(' ') }}';" to open next screen #}
                      <tr onclick="window.location.href='{{url_for('edit_file', id=v.id)}}';">
                        <th scope="row">{{loop.index}}</th>
                        <td>{{v.name}}</td>
                        <td>{{v.description}}
                        </td>
                        <td>
                          <form action="{{url_for('file_delete')}}" method="post">
                            <input type="hidden" name="file_id" value="{{v.id}}">
                            <button type="submit" class="btn btn-link"><i class="fas fa-trash"></i></button>
                          </form>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!--end of victim tab content-->
                <div class="tab-pane fade" id="exploit" role="tabpanel" aria-labelledby="exploit-tab">
                  <!-- exploit table starts here -->
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Exploit</th>
                        <th scope="col">Description</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for e in exploits %}
                      <tr onclick="window.location.href='{{url_for('edit_file', id=e.id)}}';">
                        <th scope="row">{{loop.index}}</th>
                        <td>{{e.name}}</td>
                        <td>
                          {{e.description}}
                        </td>
                        <td>
                          <form action="{{url_for('file_delete')}}" method="post">
                            <input type="hidden" name="file_id" value="{{e.id}}">
                            <button type="submit" class="btn btn-link"><i class="fas fa-trash"></i></button>
                          </form>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!--end of exploit tab content-->
              </div>
              <!--end of all tables in tabs-->
            </div> <!-- card ends here -->
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <button id="importButton" type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadModal" data-dismiss="modal"><i class="fas fa-file-import"></i> Import </button>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $('[data-toggle="popover"]').popover();
  });
</script>
