{% extends 'base.html' %}

{% block content %}

  <div class="container" id="maincard">
    <div class="full-width-div">
      <header>
        <div><button class="btn btn-primary" id="button-back" type="button"><i class="fas fa-arrow-left"></i> Back</button></div>
        <div><i class="fas fa-question-circle fa-2x"></i></div>
      </header>
      <div><h1 id="Heading1">Running Scenario<strong></strong></h1></div>
      <div class="card" id="Main-content">
        <div class="row">
          <!-- START Run Tabs Column
          ***LOOKING INTO HOW TO CONNECT TO BACKEND TO PULL CURRENT RUNS OF THAT Scenario - WILL CREATE TEST SCENARIO IN DATABASE TO TEST-->
          <div class="col" id="runtabscolumn">
            <div class="runtab">
              <button class="runtablinks" onclick="openRun(event, 'Run1')"><h4><strong>Run 1</strong></h4></button>
              <button class="runtablinks" onclick="openRun(event, 'Run2')"><h4><strong>Run 2</strong></h4></button>
              <button class="runtablinks" onclick="openRun(event, 'Run3')"><h4><strong>Run 3</strong></button>
              </div>
              <!-- START Run 1 Tab-->
              <div id="Run1" class="runtabcontent">
                <!-- START Row for VMs Column -->
                <div class="row">
                  <div class="col">
                    <div class="vmtab" id="vmtabs">
                      <button class="vmtablinks" onclick="openVM(event, 'vm1')" id="defaultOpen"><strong>Explt VM-A1</strong></button>
                      <button class="vmtablinks" onclick="openVM(event, 'vm2')"><strong>Vul VM-B1</strong></button>
                      <button class="vmtablinks" onclick="openVM(event, 'vm3')"><strong>Vul VM-B2</strong></button>
                    </div>
                    <div id="vm1" class="vmtabcontent">
                      <!--START for 2 Column Layout inside the VM Tab-->
                      <div class="row">
                        <!-- Inner Column 1 (Status Info)-->
                        <div class="col" id="innercol1">
                          <section id= col1_sec1>
                            <div id="col-bugcomp"><img id="bugcomp" src="bugcomp.png" /></div>
                          </section>
                          <section id= col1_sec2>
                            <div id="TimeComplete"><strong>Time To Complete:</strong><small id="TimerTxt">Timer</small></div>
                          </section>
                          <section id= col1_sec3>
                            <div class="row">
                              <div class="progress-bar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">50%</div>
                              <div class="col"><h7>Status: Running </h7></div>
                            </div>
                          </section>
                          <section id="col1_sec4">
                            <div><h5><strong>Name: Explt VM-A1</strong></h5></div>
                            <div><h5><strong>OS: Windows-7</strong></h5></div>
                            <div><h5><strong>Exploit(s): e0</strong></h5></div>
                            <div><h5><strong>Collector(s): ECELd</strong></h5></div>
                            <div class="row">
                              <div id="col-bottombuttons">
                                <button class= disabled class="btn btn-primary" id="button-ViewExport" type="button">View/Export Collector Logs</button>
                                <button class= disabled class="btn btn-primary" id="button-ReRunScene" type="button">Re-Run Scenario</button>
                                <button class= disabled class="btn btn-primary" id="button-Reconfig" type="button">Reconfigure Scenario</button>
                              </div>
                            </div>
                          </section>
                        </div>
                        <!-- Inner Column 2 (Quickview)-->
                        <div class="col" id="innercol2">
                          <div id="col-quickview"><strong id="QuickViewTXT">Quick View</strong></div>
                          <div class="card" id="card-hypervisors"><img id="exploitexampleimg" src="exploitexp.jpg" /></div>
                          <div id="col-remotebutton"><button class="btn btn-primary" id="button-remotevm" type="button">RDP</button></div>
                        </div>
                      </div>
                    </div> <!--END for 2 Column Layout inside the VM Tab-->
                    <div id="vm2" class="vmtabcontent">

                      <!--START for 2 Column Layout inside the VM Tab-->
                      <div class="row">
                        <!-- Inner Column 1 (Status Info)-->
                        <div class="col" id="innercol1">
                          <section id= col1_sec1>
                            <div id="col-bugcomp"><img id="bugcomp" src="bugcomp.png" /></div>
                          </section>
                          <section id= col1_sec2>
                            <div id="TimeComplete"><strong>Time To Complete:</strong><small id="TimerTxt">Timer</small></div>
                          </section>
                          <section id= col1_sec3>
                            <div class="row">
                              <div class="progress-bar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">50%</div>
                              <div class="col"><h7>Status: Running </h7></div>
                            </div>
                          </section>
                          <section id="col1_sec4">
                            <div><h5><strong>Name: VUL VM-B1</strong></h5></div>
                            <div><h5><strong>OS: Windows-XP</strong></h5></div>
                            <div><h5><strong>Exploit(s): e4</strong></h5></div>
                            <div><h5><strong>Collector(s): ECELd</strong></h5></div>
                            <div class="row">
                              <div id="col-bottombuttons">
                                <button class= disabled class="btn btn-primary" id="button-ViewExport" type="button">View/Export Collector Logs</button>
                                <button class= disabled class="btn btn-primary" id="button-ReRunScene" type="button">Re-Run Scenario</button>
                                <button class= disabled class="btn btn-primary" id="button-Reconfig" type="button">Reconfigure Scenario</button>
                              </div>
                            </div>
                          </section>
                        </div>
                        <!-- Inner Column 2 (Quickview)-->
                        <div class="col" id="innercol2">
                          <div id="col-quickview"><strong id="QuickViewTXT">Quick View</strong></div>
                          <div class="card" id="card-hypervisors"><img id="exploitexampleimg" src="exploitexp.jpg" /></div>
                          <div id="col-remotebutton"><button class="btn btn-primary" id="button-remotevm" type="button">RDP</button></div>
                        </div>
                      </div>
                    </div><!--END for 2 Column Layout inside the VM Tab-->

                    <div id="vm3" class="vmtabcontent">
                      <!--START for 2 Column Layout inside the VM Tab-->
                      <div class="row">
                        <!-- Inner Column 1 (Status Info)-->
                        <div class="col" id="innercol1">
                          <section id= col1_sec1>
                            <div id="col-bugcomp"><img id="bugcomp" src="bugcomp.png" /></div>
                          </section>
                          <section id= col1_sec2>
                            <div id="TimeComplete"><strong>Time To Complete:</strong><small id="TimerTxt">Timer</small></div>
                          </section>
                          <section id= col1_sec3>
                            <div class="row">
                              <div class="progress-bar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">50%</div>
                              <div class="col"><h7>Status: Running </h7></div>
                            </div>
                          </section>
                          <section id="col1_sec4">
                            <div><h5><strong>Name: VUL VM-B2</strong></h5></div>
                            <div><h5><strong>OS: Windows-XP</strong></h5></div>
                            <div><h5><strong>Exploit(s): e3</strong></h5></div>
                            <div><h5><strong>Collector(s): ECELd</strong></h5></div>
                            <div class="row">
                              <div id="col-bottombuttons">
                                <button class= disabled class="btn btn-primary" id="button-ViewExport" type="button">View/Export Collector Logs</button>
                                <button class= disabled class="btn btn-primary" id="button-ReRunScene" type="button">Re-Run Scenario</button>
                                <button class= disabled class="btn btn-primary" id="button-Reconfig" type="button">Reconfigure Scenario</button>
                              </div>
                            </div>
                          </section>
                        </div>
                        <!-- Inner Column 2 (Quickview)-->
                        <div class="col" id="innercol2">
                          <div id="col-quickview"><strong id="QuickViewTXT">Quick View</strong></div>
                          <div class="card" id="card-hypervisors"><img id="exploitexampleimg" src="exploitexp.jpg" /></div>
                          <div id="col-remotebutton"><button class="btn btn-primary" id="button-remotevm" type="button">RDP</button></div>
                        </div>
                      </div>
                    </div> <!--END for 2 Column Layout inside the VM Tab-->
                  </div>
                </div> </div> <!-- END Run 1 Tab-->

              <!-- START Run 2 Tab-->
              <div id="Run2" class="runtabcontent">
                <div class="row">
                  <div class="col">
                    <!-- START Run 1 VM Tabs-->
                    <div class="vmtab" id="vmtabs">
                      {% for machine in machines %}
                      <button class="vmtablinks" onclick="openVM(event, 'vm1.{{machine.id}}')" id="defaultOpen"><strong>{{machine.name}}</strong></button>
                      {% endfor %}
                    </div>
                    <div id="vm1.2" class="vmtabcontent">
                      <!--START for 2 Column Layout inside the VM Tab-->
                      <div class="row">
                        <!-- Inner Column 1 (Status Info)-->
                        <div class="col" id="innercol1">
                          <section id= col1_sec1>
                            <div id="col-bugcomp"><img id="bugcomp" src="bugcomp.png" /></div>
                          </section>
                          <section id= col1_sec2>
                            <div id="TimeComplete"><strong>Time To Complete:</strong><small id="TimerTxt">Timer</small></div>
                          </section>
                          <section id= col1_sec3>
                            <div class="row">
                              <div class="progress-bar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">50%</div>
                              <div class="col"><h7>Status: Running </h7></div>
                            </div>
                          </section>
                          <section id="col1_sec4">
                            <div><h5><strong>Name: Explt VM-C5</strong></h5></div>
                            <div><h5><strong>OS: Kali Linux</strong></h5></div>
                            <div><h5><strong>Exploit(s): e0</strong></h5></div>
                            <div><h5><strong>Collector(s): ECELd</strong></h5></div>
                            <div class="row">
                              <div id="col-bottombuttons">
                                <button class= disabled class="btn btn-primary" id="button-ViewExport" type="button">View/Export Collector Logs</button>
                                <button class= disabled class="btn btn-primary" id="button-ReRunScene" type="button">Re-Run Scenario</button>
                                <button class= disabled class="btn btn-primary" id="button-Reconfig" type="button">Reconfigure Scenario</button>
                              </div>
                            </div>
                          </section>
                        </div>
                        <!-- Inner Column 2 (Quickview)-->
                        <div class="col" id="innercol2">
                          <div id="col-quickview"><strong id="QuickViewTXT">Quick View</strong></div>
                          <div class="card" id="card-hypervisors"><img id="exploitexampleimg" src="exploitexp.jpg" /></div>
                          <div id="col-remotebutton"><button class="btn btn-primary" id="button-remotevm" type="button">RDP</button></div>
                        </div>
                      </div>
                    </div><!--END for 2 Column Layout inside the VM Tab-->

                    <div id="vm2.2" class="vmtabcontent">
                      <!--START for 2 Column Layout inside the VM Tab-->
                      <div class="row">
                        <!-- Inner Column 1 (Status Info)-->
                        <div class="col" id="innercol1">
                          <section id= col1_sec1>
                            <div id="col-bugcomp"><img id="bugcomp" src="bugcomp.png" /></div>
                          </section>
                          <section id= col1_sec2>
                            <div id="TimeComplete"><strong>Time To Complete:</strong><small id="TimerTxt">Timer</small></div>
                          </section>
                          <section id= col1_sec3>
                            <div class="row">
                              <div class="progress-bar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">50%</div>
                              <div class="col"><h7>Status: Running </h7></div>
                            </div>
                          </section>
                          <section id="col1_sec4">
                            <div><h5><strong>Name: VUL VM-C2</strong></h5></div>
                            <div><h5><strong>OS: Ubuntu Linux</strong></h5></div>
                            <div><h5><strong>Exploit(s): e1</strong></h5></div>
                            <div><h5><strong>Collector(s): ECELd</strong></h5></div>
                            <div class="row">
                              <div id="col-bottombuttons">
                                <button class= disabled class="btn btn-primary" id="button-ViewExport" type="button">View/Export Collector Logs</button>
                                <button class= disabled class="btn btn-primary" id="button-ReRunScene" type="button">Re-Run Scenario</button>
                                <button class= disabled class="btn btn-primary" id="button-Reconfig" type="button">Reconfigure Scenario</button>
                              </div>
                            </div>
                          </section>
                        </div>
                        <!-- Inner Column 2 (Quickview)-->
                        <div class="col" id="innercol2">
                          <div id="col-quickview"><strong id="QuickViewTXT">Quick View</strong></div>
                          <div class="card" id="card-hypervisors"><img id="exploitexampleimg" src="exploitexp.jpg" /></div>
                          <div id="col-remotebutton"><button class="btn btn-primary" id="button-remotevm" type="button">RDP</button></div>
                        </div>
                      </div>
                    </div><!--END for 2 Column Layout inside the VM Tab-->

                    <div id="vm3.2" class="vmtabcontent">
                      <!--START for 2 Column Layout inside the VM Tab-->
                      <div class="row">
                        <!-- Inner Column 1 (Status Info)-->
                        <div class="col" id="innercol1">
                          <section id= col1_sec1>
                            <div id="col-bugcomp"><img id="bugcomp" src="bugcomp.png" /></div>
                          </section>
                          <section id= col1_sec2>
                            <div id="TimeComplete"><strong>Time To Complete:</strong><small id="TimerTxt">Timer</small></div>
                          </section>
                          <section id= col1_sec3>
                            <div class="row">
                              <div class="progress-bar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">50%</div>
                              <div class="col"><h7>Status: Running </h7></div>
                            </div>
                          </section>
                          <section id="col1_sec4">
                            <div><h5><strong>Name: VUL VM-C0</strong></h5></div>
                            <div><h5><strong>OS: Windows-7</strong></h5></div>
                            <div><h5><strong>Exploit(s): e7</strong></h5></div>
                            <div><h5><strong>Collector(s): ECELd</strong></h5></div>
                            <div class="row">
                              <div id="col-bottombuttons">
                                <button class= disabled class="btn btn-primary" id="button-ViewExport" type="button">View/Export Collector Logs</button>
                                <button class= disabled class="btn btn-primary" id="button-ReRunScene" type="button">Re-Run Scenario</button>
                                <button class= disabled class="btn btn-primary" id="button-Reconfig" type="button">Reconfigure Scenario</button>
                              </div>
                            </div>
                          </section>
                        </div>
                        <!-- Inner Column 2 (Quickview)-->
                        <div class="col" id="innercol2">
                          <div id="col-quickview"><strong id="QuickViewTXT">Quick View</strong></div>
                          <div class="card" id="card-hypervisors"><img id="exploitexampleimg" src="exploitexp.jpg" /></div>
                          <div id="col-remotebutton"><button class="btn btn-primary" id="button-remotevm" type="button">RDP</button></div>
                        </div>
                      </div>
                    </div><!--END for 2 Column Layout inside the VM Tab-->
                  </div>
                </div>
              </div> <!-- END Run 2 Tab-->

              <!-- START Run 3 Tab-->
              <div id="Run3" class="runtabcontent">
                <!-- START Row for VMs Column -->
                <div class="row">
                  <div class="col">
                    <div class="vmtab" id="vmtabs">
                      <button class="vmtablinks" onclick="openVM(event, 'vm1.3')" id="defaultOpen"><strong>Explt VM-A7</strong></button>
                      <button class="vmtablinks" onclick="openVM(event, 'vm2.3')"><strong>Vul VM-B5</strong></button>
                      <button class="vmtablinks" onclick="openVM(event, 'vm3.3')"><strong>Vul VM-B1</strong></button>
                    </div>
                    <div id="vm1.3" class="vmtabcontent">
                      <!--START for 2 Column Layout inside the VM Tab-->
                      <div class="row">
                        <!-- Inner Column 1 (Status Info)-->
                        <div class="col" id="innercol1">
                          <section id= col1_sec1>
                            <div id="col-bugcomp"><img id="bugcomp" src="bugcomp.png" /></div>
                          </section>
                          <section id= col1_sec2>
                            <div id="TimeComplete"><strong>Time To Complete:</strong><small id="TimerTxt">Timer</small></div>
                          </section>
                          <section id= col1_sec3>
                            <div class="row">
                              <div class="progress-bar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">50%</div>
                              <div class="col"><h7>Status: Running </h7></div>
                            </div>
                          </section>
                          <section id="col1_sec4">
                            <div><h5><strong>Name: VUL VM-A7</strong></h5></div>
                            <div><h5><strong>OS: Ubuntu Linux</strong></h5></div>
                            <div><h5><strong>Exploit(s): e0</strong></h5></div>
                            <div><h5><strong>Collector(s): ECELd</strong></h5></div>
                            <div class="row">
                              <div id="col-bottombuttons">
                                <button class= disabled class="btn btn-primary" id="button-ViewExport" type="button">View/Export Collector Logs</button>
                                <button class= disabled class="btn btn-primary" id="button-ReRunScene" type="button">Re-Run Scenario</button>
                                <button class= disabled class="btn btn-primary" id="button-Reconfig" type="button">Reconfigure Scenario</button>
                              </div>
                            </div>
                          </section>
                        </div>
                        <!-- Inner Column 2 (Quickview)-->
                        <div class="col" id="innercol2">
                          <div id="col-quickview"><strong id="QuickViewTXT">Quick View</strong></div>
                          <div class="card" id="card-hypervisors"><img id="exploitexampleimg" src="exploitexp.jpg" /></div>
                          <div id="col-remotebutton"><button class="btn btn-primary" id="button-remotevm" type="button">RDP</button></div>
                        </div>
                      </div>
                    </div><!--END for 2 Column Layout inside the VM Tab-->

                    <div id="vm2.3" class="vmtabcontent">
                      <!--START for 2 Column Layout inside the VM Tab-->
                      <div class="row">
                        <!-- Inner Column 1 (Status Info)-->
                        <div class="col" id="innercol1">
                          <section id= col1_sec1>
                            <div id="col-bugcomp"><img id="bugcomp" src="bugcomp.png" /></div>
                          </section>
                          <section id= col1_sec2>
                            <div id="TimeComplete"><strong>Time To Complete:</strong><small id="TimerTxt">Timer</small></div>
                          </section>
                          <section id= col1_sec3>
                            <div class="row">
                              <div class="progress-bar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">50%</div>
                              <div class="col"><h7>Status: Running </h7></div>
                            </div>
                          </section>
                          <section id="col1_sec4">
                            <div><h5><strong>Name: VUL VM-B5</strong></h5></div>
                            <div><h5><strong>OS: Kali Linux</strong></h5></div>
                            <div><h5><strong>Exploit(s): e1</strong></h5></div>
                            <div><h5><strong>Collector(s): ECELd</strong></h5></div>
                            <div class="row">
                              <div id="col-bottombuttons">
                                <button class= disabled class="btn btn-primary" id="button-ViewExport" type="button">View/Export Collector Logs</button>
                                <button class= disabled class="btn btn-primary" id="button-ReRunScene" type="button">Re-Run Scenario</button>
                                <button class= disabled class="btn btn-primary" id="button-Reconfig" type="button">Reconfigure Scenario</button>
                              </div>
                            </div>
                          </section>
                        </div>
                        <!-- Inner Column 2 (Quickview)-->
                        <div class="col" id="innercol2">
                          <div id="col-quickview"><strong id="QuickViewTXT">Quick View</strong></div>
                          <div class="card" id="card-hypervisors"><img id="exploitexampleimg" src="exploitexp.jpg"/></div>
                          <div id="col-remotebutton"><button class="btn btn-primary" id="button-remotevm" type="button">RDP</button></div>
                        </div>
                      </div>
                    </div><!--END for 2 Column Layout inside the VM Tab-->

                    <div id="vm3.3" class="vmtabcontent">
                      <!--START for 2 Column Layout inside the VM Tab-->
                      <div class="row">
                        <!-- Inner Column 1 (Status Info)-->
                        <div class="col" id="innercol1">
                          <section id= col1_sec1>
                            <div id="col-bugcomp"><img id="bugcomp" src="bugcomp.png" /></div>
                          </section>
                          <section id= col1_sec2>
                            <div id="TimeComplete"><strong>Time To Complete:</strong><small id="TimerTxt">Timer</small></div>
                          </section>
                          <section id= col1_sec3>
                            <div class="row">
                              <div class="progress-bar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">50%</div>
                              <div class="col"><h7>Status: Running </h7></div>
                            </div>
                          </section>
                          <section id="col1_sec4">
                            <div><h5><strong>Name: VUL VM-B1</strong></h5></div>
                            <div><h5><strong>OS: Windows-10</strong></h5></div>
                            <div><h5><strong>Exploit(s): e0</strong></h5></div>
                            <div><h5><strong>Collector(s): ECELd</strong></h5></div>
                            <div class="row">
                              <div id="col-bottombuttons">
                                <button class= disabled class="btn btn-primary" id="button-ViewExport" type="button">View/Export Collector Logs</button>
                                <button class= disabled class="btn btn-primary" id="button-ReRunScene" type="button">Re-Run Scenario</button>
                                <button class= disabled class="btn btn-primary" id="button-Reconfig" type="button">Reconfigure Scenario</button>
                              </div>
                            </div>
                          </section>
                        </div>
                        <!-- Inner Column 2 (Quickview)-->
                        <div class="col" id="innercol2">
                          <div id="col-quickview"><strong id="QuickViewTXT">Quick View</strong></div>
                          <div class="card" id="card-hypervisors"><img id="exploitexampleimg" src="exploitexp.jpg" /></div>
                          <div id="col-remotebutton"><button class="btn btn-primary" id="button-remotevm" type="button">RDP</button></div>
                        </div>
                      </div>
                    </div> <!--END for 2 Column Layout inside the VM Tab-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- END Main Card -->

        <!-- START Script for Run Tabs -->
        <script>
          function openRun(evt, runName) {
            var i, runtabcontent, runtablinks;
            runtabcontent = document.getElementsByClassName("runtabcontent");
            for (i = 0; i < runtabcontent.length; i++) {
              runtabcontent[i].style.display = "none";
            }
            runtablinks = document.getElementsByClassName("runtablinks");
            for (i = 0; i < runtablinks.length; i++) {
              runtablinks[i].className = runtablinks[i].className.replace(" active", "");
            }
            document.getElementById(runName).style.display = "block";
            evt.currentTarget.className += " active";
          }
          // Get the element with id="defaultOpen" and click on it
          document.getElementById("defaultOpen").click();
        </script>
        <!-- END Script for Run Tabs -->

        <!-- START Script for VM Tabs -->
        <script>
          function openVM(evt, vmName) {
            var i, vmtabcontent, vmtablinks;
            vmtabcontent = document.getElementsByClassName("vmtabcontent");
            for (i = 0; i < vmtabcontent.length; i++) {
              vmtabcontent[i].style.display = "none";
            }
            vmtablinks = document.getElementsByClassName("vmtablinks");
            for (i = 0; i < vmtablinks.length; i++) {
              vmtablinks[i].className = vmtablinks[i].className.replace(" active", "");
            }
            document.getElementById(vmName).style.display = "block";
            evt.currentTarget.className += " active";
          }
          // Get the element with id="defaultOpen" and click on it
          document.getElementById("defaultOpen").click();
        </script>
        <!-- END Script for VM Tabs -->


      </div>
    </div>



  {% endblock content %}
